Repository ZeekSee/Utopia-Station, pull requests merged in 2023-06, with the labels that each got.

#1 New sprites
  icons/obj/contraband.dmi
  icons/obj/mugs.dmi
  icons/obj/status_display.dmi
Labels: DMI

#2 Jobs edit + dirty cargo
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/jobs/job/supervisor.dm
  code/game/jobs/jobs.dm
  code/game/machinery/computer/card.dm
  code/modules/clothing/head/jobs.dm
  code/modules/newscaster/obj/newscaster.dm
  config/title_screens/images/ss1default.dmi
  icons/obj/flag.dmi
Labels: DMI, MAP

#4 Map edit
  _maps/map_files/cyberiad/cyberiad.dmm
  code/modules/client/preference/preferences.dm
Labels: MAP

#6 Prisoner job
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/job.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/jobs.dm
  code/game/objects/effects/landmarks.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preference/preferences.dm
  code/modules/map_fluff/cyberiad.dm
Labels: MAP

#13 Небольшие доработки
  _maps/map_files/cyberiad/cyberiad.dmm
  code/game/objects/effects/decals/contraband.dm
  paradise.dme
  sound/AI/aimalf.ogg
  sound/AI/aliens.ogg
  sound/AI/attention.ogg
  sound/AI/commandreport.ogg
  sound/AI/granomalies.ogg
  sound/AI/ionstorm.ogg
  sound/AI/meteors.ogg
  sound/AI/outbreak5.ogg
  sound/AI/outbreak7.ogg
  sound/AI/poweroff.ogg
  sound/AI/poweron.ogg
  sound/AI/radiation.ogg
  sound/AI/shuttlecalled.ogg
  sound/AI/shuttledock.ogg
  sound/AI/shuttlerecalled.ogg
  sound/AI/welcome.ogg
Labels: MAP

#15 Sauce
  _maps/map_files/cyberiad/cyberiad.dmm
  code/__DEFINES/job.dm
  code/game/objects/effects/decals/contraband.dm
Labels: MAP, Merge Conflict

#25 Спрайт боксов, новый шаттл
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/generic/CentComm.dmm
  icons/obj/items.dmi
  icons/obj/storage.dmi
  icons/obj/tribune.dmi
  icons/obj/utop_tile.dmi
Labels: DMI, MAP, Merge Conflict
